@model RealEstateApp.Core.Application.ViewModels.Property.PropertySaveViewModel

@{
    ViewData["Title"] = "Property Details";
}

<h2>Property Details</h2>

<div>
    <h3>@Model.PropertyCode</h3>
    <p>Type: @Model.PropertyTypeId</p>
    <p>Sale Type: @Model.SaleTypeId</p>
    <p>Price: @Model.Price</p>
    <p>Bedrooms: @Model.Bedrooms</p>
    <p>Bathrooms: @Model.Bathrooms</p>
    <p>Size: @Model.PropertySizeMeters m²</p>
    <p>Description: @Model.Description</p>
</div>