@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers

@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == "Admin") : false;
    var isClient = User != null ? User.Roles.Any(r => r == "Client") : false;
    var isAgent = User != null ? User.Roles.Any(r => r == "Agent") : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstateApp.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light-green border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-dark fw-bold" asp-area=""
                   asp-controller="@(isAdmin ? "Admin" : (isAgent ? "Agent" : (isClient ? "Client" : "Home")))"
                   asp-action="Index">
                    <i class="fas fa-home"></i> RealEstateApp
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Agents">Agentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="JoinApp">Unete a la App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            @if (User.Roles.Contains("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="AgentList">Listado de los Agentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="AdminList">Mantenimiento de Administradores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="DeveloperList">Mantenimiento de desarrolladores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Propiedades">Mantenimiento de tipo de propiedades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Ventas">Mantenimiento de tipo de ventas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="mejoras">Mantenimiento de  mejoras</a>
                                </li>
                            }
                            @if (User.Roles.Contains("Client"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Agent" asp-action="Index">Agentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Client" asp-action="Favorites">Mis propiedades</a>
                                </li>
                            }
                            @if (User.Roles.Contains("Agent"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Agent" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Agent" asp-action="PropertyMaintenance">Mantenimiento de propiedades</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Agent" asp-action="EditProfile">Mi Perfil</a>
                                </li>
                            }
                            <li class="nav-item align-content-end">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar sesión (@(User.UserName))</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom bg-light">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - RealEstateApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>